#app{
    text-align: center;
    width: 200px;
    margin: 0 auto;
}
.buttonBox{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}
.des{
    width: 200px;
    box-sizing: border-box;
}
.listBox{
    text-align: left;
}